*~
*elc
.backup/
.cache/
bookmarks
emacs.pdmp
history
recentf
smex-items
elpa/
transient
custom.el
diary
tutorial/
eshell/
*dat
url/
*.desktop
session.*
request/
srecode-map.el
.org-id-locations
server/
viper
eww-bookmarks
ido.last
dmenu-items
image-dired/.image-dired_db
places
.alarm-clock.cache
adafruit-wisdom.cache
eaf/
emojis/
tramp
ncm-playlist
/org-roam.db
/devdocs/
/.lsp-session-v1
/eclipse.jdt.ls/
/workspace/
/.emacs.desktop.lock
/eln-cache/
/projects
completions
racket-mode/Racket-REPL
pyim/
/.mc-lists.el
.authinfo
/savehist
ede-projects.el
/hackernews/
/tldr/
/.emacs.keyfreq
/games/
abbrev_defs
/multisession/
image-dired/
var/
.pan-baidu-com
.dap-breakpoints
/config/experiment/
/elgrep-data.el
