[submodule "extensions/emacs-rime"]
	path = extensions/rime
	url = https://github.com/feiyongzhai/emacs-rime.git
[submodule "extensions/popweb"]
	path = extensions/popweb
	url = https://github.com/manateelazycat/popweb.git
[submodule "extensions/dired-hacks"]
	path = extensions/dired-hacks
	url = https://github.com/feiyongzhai/dired-hacks.git
[submodule "extensions/feebleline"]
	path = extensions/feebleline
	url = https://github.com/feiyongzhai/feebleline.git
[submodule "extensions/telega"]
	path = extensions/telega
	url = https://github.com/zevlg/telega.el.git
[submodule "extensions/emacs-application-framework"]
	path = extensions/eaf
	url = https://github.com/feiyongzhai/emacs-application-framework.git
[submodule "extensions/emacs-baidupan"]
	path = extensions/baidupan
	url = https://github.com/lorniu/emacs-baidupan.git
[submodule "extensions/zoxide"]
	path = extensions/zoxide
	url = https://github.com/feiyongzhai/zoxide
