[submodule "site-lisp/move-text"]
	path = extensions/move-text
	url = https://github.com/manateelazycat/move-text.git
[submodule "extensions/insert-translated-name"]
	path = extensions/insert-translated-name
	url = https://github.com/manateelazycat/insert-translated-name.git
[submodule "extensions/emacs-rime"]
	path = extensions/emacs-rime
	url = https://github.com/feiyongzhai/emacs-rime.git
[submodule "extensions/emacs-application-framework"]
	path = extensions/emacs-application-framework
	url = https://github.com/manateelazycat/emacs-application-framework.git
[submodule "extensions/popweb"]
	path = extensions/popweb
	url = https://github.com/manateelazycat/popweb.git
[submodule "extensions/duplicate-line"]
	path = extensions/duplicate-line
	url = https://github.com/manateelazycat/duplicate-line.git
[submodule "extensions/one-key"]
	path = extensions/one-key
	url = https://github.com/manateelazycat/one-key.git
[submodule "extensions/fasd"]
	path = extensions/fasd
	url = https://github.com/feiyongzhai/fasd.git
[submodule "extensions/dired-hacks"]
	path = extensions/dired-hacks
	url = https://github.com/feiyongzhai/dired-hacks.git
[submodule "extensions/awesome-pair"]
	path = extensions/awesome-pair
	url = https://github.com/feiyongzhai/awesome-pair.git
[submodule "extensions/feebleline"]
	path = extensions/feebleline
	url = https://github.com/feiyongzhai/feebleline.git
[submodule "extensions/grep-dired"]
	path = extensions/grep-dired
	url = https://github.com/manateelazycat/grep-dired.git
