[submodule "site-lisp/move-text"]
	path = extensions/move-text
	url = https://github.com/manateelazycat/move-text.git
[submodule "extensions/insert-translated-name"]
	path = extensions/insert-translated-name
	url = https://github.com/manateelazycat/insert-translated-name.git
[submodule "extensions/emacs-rime"]
	path = extensions/emacs-rime
	url = https://github.com/DogLooksGood/emacs-rime.git
[submodule "extensions/emacs-application-framework"]
	path = extensions/emacs-application-framework
	url = https://github.com/manateelazycat/emacs-application-framework.git
